form {
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    border: 5px outset #484C6F;
}

input {
    font-size: 15px;
    padding: 10px;
    width: 95%;
    margin: 10px 0px;
}

button {
    cursor: pointer;
}

.submit-b {
    background-color: rgb(89, 89, 255);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    display:flex;
    justify-content: center;
    margin: 10px auto auto;
}

.main-class {
    max-width: 600px;
    margin: auto;
}

.submitVal {
    background-color: green;
    padding: 10px;
    border-radius: 10px;;
    color:#fff;
    width: 50%;
}


.error {
    display:none;
    color: red;
    margin-bottom: 20px;
}

.text-area {
display:flex;
flex-direction: column;
}

.text-area label {
    padding-bottom: 10px;
}