.about-main {
    max-width: 1000px;
    margin: auto;
}

.our-story, .story-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story img {
    max-width: 50%;
    margin: 30px
}

.story, .semi-h {
    font-size: larger;
    max-width: 80%;
    margin: 30px auto;
    line-height: 1.5em;
}

.story {
    margin-bottom: 50px
}

.semi-h {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 1.5em;
}

.story-h {
    font-size: 5em;
    margin: 10px 0px;
    color: #591628;
}

/* Media */

@media (min-width: 800px) {

    .story-h {
        font-size: 5.5em;
    }

    .story-row {
        flex-direction: row;
        align-items: flex-start;
    }
   
    .our-story img {
        max-width: 30%;
    }
}
