.form-button {
    margin: auto;
    padding: 20px 0px;
}

.form-cta {
    padding: 20px;
    min-width: 200px;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
}

.form-cta:hover {
    background-color: #efefef;
    color: #072D51;
    border: 1px solid #072D51;
}

.center {
    text-align: center;
}

.main-class a {
    color:white;
}

.main-class form {
    margin-bottom: 20px;
}

.paypay {
    display:none;
}