     /* Global */

body {
    font-family: Helvetica, sans-serif, Arial;
    height:1vh;
}

main {
    min-height: 100vh;
}

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "indie";
    src: url("../fonts/IndieFlower-Regular.ttf") format("truetype")
}

h2, h3 {
    font-family: "bebasneue", Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.special-h2 {
    font-family: "indie"
}

.cta-normal {
    background-color: #F0B351;
    color:#072D51;
    padding: 13px;
    margin: 20px;
    font-weight: bold;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.cta-normal:hover {
    box-shadow: none;
    background-color: #072D51;
    color: #F0B351;
    transform: scale(1.1);
}

.hidden-h1 {
    display: none;
}

a {
    text-decoration: none;
}

.back-button {
    border:none;
    cursor: pointer;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
}

.back-button:hover {
    color: #F0B351;
    background-color: #072D51;
}

/* Header content - nav, logo and icons*/

.logo img {
    max-width: 150px;
    margin: 10px 20px 10px 20px;
}

.header-container {
    background-color: #484C6F;
    align-items: center;
    display:flex;
    justify-content: space-between;
    font-size: large;
    min-height: 90px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav a {
    padding: 20px;
    margin: 20px;
}

.container-icons {
    margin-right: 10px;
}

.container-icons a {
    padding: 20px;
}

.container-icons i {
    padding-right: 10px;
}

header a {
    color: white;
}

header hr {
    margin: 10px 30px;
    height: 80px;
}

header .icon {
    display:none;
}

.nav-container {
    display:flex;
    align-items: center;
}

li a:hover, .discount-offer:hover {
    background-color: #F0B351;
    color:#072D51;
    border-radius: 10px;
}

.alt-icon {
    display:none;
}


     /* Home page content */

/* Autumn collection & discount offer*/

.discount-offer {
    background-color: red;
    color: white;
    padding: 5px;
    margin: 0px;
    font-weight: 100;
    text-align: center;
    font-size:15px;
}

.discount-offer h5 {
    margin:0px;
}

.home-img {
    background-image: url('../images/new-main.jpg');
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    background-position-y: center;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.home-img:hover {
    opacity: 0.8;
}

.autumn {
    text-align: center;
}

/* Cano section */

.cano, .cano p {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cano p {
    max-width: 300px;
    line-height: 1.5em;
}

.cano h2 {
    text-align: center;
    color:#072D51
}

.cano a {
    min-width: 100px;
    text-align: center;
}

/* Discount offer bottom page */

.discount-poster {
    background-image:  url('../images/pexels-yan-krukov-5792938.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 500px;
    background-position-y: center;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border:5px solid #F0B351;
    border-radius: 10px;
    color: #000000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: transform .5s ease;
}

.discount-poster:hover {
    transform: scale(1.1);
}

.discount-poster h3 {
    text-shadow: #F0B351 3px 3px 6px;
}

     /* Footer*/

footer {
    background-color: #072D51;
    color: #fff;
}

.footer-links, footer p {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.footer-links a {
    padding:10px;
    color: white;
}

.footer-links a:hover {
    background-color: #F0B351;
    color:#072D51
}


@media (max-width: 950px) {

  .nav-container {
      position: relative;
  }

  .nav-container ul {
      position: absolute;
      background-color:#072D51;
      min-width: 100%;
  }
  
  .nav-container #nav-list {
    display: none;
    background-color:#072D51;
    position: relative;
    top: 70px;
    left: 0px;
    min-width: 100%;
    z-index: 999;
  }

  .nav-container a {
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 17px;
    display: block; 
  }

  .nav-container a.icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
  }

    header hr {
        display: none;
    }

    .header-container {
        flex-direction: column;
        align-items: stretch;
    }

    .container-icons {
        display: none;
    }

    .logo img {
        max-width: 100px;
        margin: 15px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .logo {
        margin: 0px;
    }

    .home-img {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 100px;
    }

    .alt-icon {
        display: block;
    }

    .ikon-spacing {
        margin-right: 10px
    }
}

@media (max-width: 450px) {
    .home-img {
        padding:0px 20px;
    }
}

@media (min-width:950px) {

    ul {
        display: flex;
    }

    .nav-container #nav-list {
        display: block;
    }
}