/* Jackets */

.header-jackets h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 5.5em;
}

.intro {
    max-width: 70%;
    margin: 30px auto;
    padding-bottom: 30px;
    font-size: larger;
}

.main-jackets {
    margin:auto;
}

.jackets {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    margin: 50px 0px 100px 0px;
    max-width: 1000px;
    column-gap: 100px;
    margin: 50px auto;
}

.jackets img {
    border-radius: 5%;
}

.rainydays {
    margin: 0px;
    font-size: 1.3em;
    font-weight: bolder;
}

.main-jackets h3 {
    margin: 0px;
    font-weight: lighter;
}

.price {
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 90%;
    display:grid;
    justify-content: right;
}

.arrange-jackets {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.arrange-jackets img {
    max-width: 100%;
}

/* Media */

@media (min-width: 450px) {
    
    .jackets {
        grid-template-columns: repeat(2,1fr);

    }
}

@media (min-width: 600px) {

    .jackets {
        grid-template-columns: repeat(3,1fr);

    }
}