/* Outlet */

.outlet-main {
    max-width: 1000px;
    margin:auto;
}

.outlet-header {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:10px
}

.outlet-header h1 {
    font-size: 3.5em;
    margin: 10px 0px;
    color: #591628;
    text-align: center;
}

.outlet-header p {
    max-width: 70%;
    font-size: larger;
}

.outlet-women, .outlet-men {
    background-image: url('../images/gronn4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 95%;
    min-height: 50vh;
    background-position: center;
    margin: 10px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outlet-men {
    background-image: url('../images/bla5.jpg');
    background-position: center bottom;
}

.outlet-group {
    color:#fff;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.outlet {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 800px) {
    
    .outlet-group {
        flex-direction: row;
    }

    .outlet-women, .outlet-men {
        min-width: 45%;
    }
}