/* Outlet */

.outlet-main {
    max-width: 1000px;
    margin:auto;
}

.outlet-header {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:10px
}

.outlet-header h1 {
    font-size: 5.5em;
    margin: 10px 0px;
    color: #591628;
}

.outlet-header p {
    max-width: 70%;
    font-size: larger;
}

.outlet-women, .outlet-men {
    background-image: url('../images/gronn4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 50vh;
    background-position: center;
    margin: 10px 0px 0px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0px 3px 6px black;
}

.outlet h2 {
    text-shadow: 0px 3px 6px black;
}

.outlet-men {
    background-image: url('../images/bla5.jpg');
    background-position: center bottom;
    margin-bottom: 50px;

}

.outlet-group {
    color:#fff;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-bottom: 40px
}

.outlet {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 800px) {
    
    .outlet-group {
        flex-direction: row;
    }

    .outlet-women, .outlet-men {
        min-width: 50%;
        margin: 10px 0px 10px 0px;
    }
}