body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cta {
background-color: #A6193E;
color: white;
font-size:0.8em;
padding: 10px 50px;
border-radius: 10px;
text-transform: uppercase;
font-weight:750;
}

h1 {
    font-size: 1.5em;
    text-shadow: 0px 3px 6px black;
    text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    text-shadow: 0px 3px 6px black;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
}

/* HOME PAGE */

.logo {
    max-width: 150px;
    margin: 10px 0px
}

header, footer {
    background-color: #072D51;
    color: white;
}

header a, footer a {
    color: white;
}

footer a {
    padding: 10px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: auto;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

nav {
    display:none;
    position: absolute;
    top: 82px;
    background:#072D51;
    left: 0px;
    padding: 20px;
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    margin: 0px 30px 0px 30px;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-icons_mobile {
    display: flex;
    flex-direction: row;
    padding: 20px 45px;
    font-size:1em ;
    position:relative;
}

.nav-icons_mobile i {
    font-size: 2em;
}

.nav-icons i {
    padding: 10px;
}

.icons_nav {
    display: flex;
    padding: 5px;
}

#hamburger-menu {
    display:none
}

#hamburger-menu:checked ~ nav {
    display: block;
}

span {
    display:none
}

i {
    padding: 5px;
}

.search-bar {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.New-collection {
    background-image:  url('../images/pexels.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position-y: center;
}

.Home-autumn {
    position: relative;
    color: #fff;
    line-height: 1.5;
    max-width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.home-scroll-1 {
    background-image:  url('../images/cano.png');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position: left center;
    flex-direction: column;
}

.home-scroll-2 {
    background-image: url('../images/7.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position: center;
    display:flex
}

.canoeing, .bluechick {
    position: relative;
    color: #fff;
    line-height: 1.5;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.customer-service, .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* links */

.search-icon {
    border: 2px solid #ffff;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    max-width: 400px;
    padding: 10px;
    background: transparent;
    color:white
}

a {
    text-decoration: none;
}

.active {
    font-weight: bolder;
}

@media (min-width: 600px) {
    .New-collection {
        min-height: 60vh;
    }

    .Home-autumn {
        max-width: 460px;
    }

    .search-icon {
        width: 400px
    }

    h1, h2 {
        font-size: 2em;
    }
}

@media (min-width: 800px) {

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .customer-service, .about {
        align-items: flex-start;
    }

    .New-collection {
        min-height: 70vh;
    }

    .search-nav {
        display:flex;
        flex-direction: column
    }

    .hamburger_menu {
        display:none
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        left: -336px;
        padding: 0px;
    }

    .nav-icons_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px 25px;
        font-size: 1em;
    }

    nav li {
        display: inline-block;
        margin: 0px 20px;
        font-size: 1.3em;
        padding-top: 10px;
    }

    .search-icon {
        border: 2px solid #ffff;
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        width: 300px;
        padding: 10px;
        background: transparent;
        color:white
    }

    header label {
        display:none;
    }

    .logo {
        padding:20px 50px
    }

    span {
        padding: 0px 10px
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: larger;
    }

    .header_content {
        flex-direction: row;
    }

}

@media (min-width: 1105px) {

    .home-scroll-1, .home-scroll-2 {
        min-height: 70vh;
    }

    .home-scroll-2 {
        background-position: left bottom;
    }

    .New-collection {
        min-height: 90vh;
    }
    
    span {
        display: inline-block;
    }

    .search-icon {
        width: 500px
    }
    
    nav {
        left: -380px
    }

    .logo {
        margin: 10px 40px
    }

    h1, h2 {
        font-size: 2.5em;
    }
}

@media (min-width: 1550px) {

    .home-scroll-1 {
        background-position: left;
    }

    .New-collection {
        min-height: 100vh;
    }

    .search-bar {
        margin: 0px 200px;
    }

    nav {
        left: -585px;
    }

    h1 {
        font-size:3em ;
    }

    h2 {
        font-size:3em ;
    }
}