/* GLOBAL */

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype")
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cta {
background-color: #A6193E;
color: white;
font-size:0.8em;
padding: 10px 50px;
border-radius: 10px;
text-transform: uppercase;
font-weight:750;
}

h1, h2 {
    font-size: 2.5em;
    font-family: "bebasneue", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

i {
    padding: 5px;
}

a {
    text-decoration: none;
}

.active {
    font-weight: bolder;
}

/* HOME PAGE */

.New-collection {
    background-image:  url('../images/pexels.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position-y: center;
}

.Home-autumn {
    color: #fff;
    line-height: 1.5;
    max-width: 260px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.Home-autumn h1 {
    text-shadow: 0px 3px 6px black;
}

.home-scroll-1 {
    background-image:  url('../images/cano.png');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position: left center;
    flex-direction: column;
}

.home-scroll-2 {
    background-image: url('../images/7.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position: center;
    display:flex
}

.canoeing, .bluechick {
    position: relative;
    color: #fff;
    line-height: 1.5;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.canoeing h2, .bluechick h2 {
    text-shadow: 0px 3px 6px black;
}

/* Media */

@media (min-width: 600px) {
    .New-collection {
        min-height: 60vh;
    }

    .Home-autumn {
        max-width: 720px;
    }

    .search-icon {
        width: 300px
    }

    h1, h2 {
        font-size: 2em;
    }
}

@media (min-width: 850px) {

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .customer-service, .about {
        align-items: flex-start;
    }

    .New-collection {
        min-height: 70vh;
    }

    .search-nav {
        display:flex;
        flex-direction: column
    }

    .hamburger_menu {
        display:none
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        left: -475px;
        padding: 0px;
    }

    .nav-icons {
        align-items: center;
        margin: 50px 25px;
    }

    nav li {
        margin: 0px 50px;
    }

    .search-icon {
        width: 400px;
    }

    header label {
        display:none;
    }

    .logo {
        padding:20px 50px
    }

    span {
        padding: 0px 10px
    }

    nav ul {
        flex-direction: row;
        font-size: larger;
    }

    .header_content {
        flex-direction: row;
    }

    .fas.fa-shopping-bag {
        margin: 0px 0px
    }

}

@media (min-width: 1185px) {

    .home-scroll-1, .home-scroll-2 {
        min-height: 70vh;
    }

    .home-scroll-2 {
        background-position: left bottom;
    }

    .New-collection {
        min-height: 90vh;
    }
    
    span {
        display: inline-block;
    }

    .search-icon {
        width: 500px;
    }
    
    nav {
        left: -550px;
    }

    nav li {
        margin: 0px 60px;
    }

    .logo {
        margin: 10px 10px;
    }

    h1, h2 {
        font-size: 2.5em;
    }
}

@media (min-width: 1585px) {

    .home-scroll-1 {
        background-position: left;
    }

    .New-collection {
        min-height: 100vh;
    }

    .search-bar {
        margin: 0px 200px;
    }

    nav {
        left: -750px;
    }

    h1 {
        font-size:3em ;
    }

    h2 {
        font-size:3em ;
    }
}