/* GLOBAL */

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype")
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

main {
    padding: 25px;
}

.index-main {
    padding:0px;
}

.cta {
background-color: #000000;
color: white;
font-size:1em;
padding: 15px 40px;
border-radius: 10px;
font-weight:750;
margin-bottom: 10px;
text-shadow: none;
border: 1px solid #fff
}

.cta:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0)
}

.cta-blue:hover {
    background-color:green;
}

.cta-blue {
    background-color: #003CFF;
    color: white;
    font-size:1em;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight:750;
    }

button {
    border:none;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: underline;
}

h1, h2 {
    font-size: 2.5em;
    font-family: "bebasneue", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.center {
    display:flex;
    align-items: center;
}

body a {
    text-decoration: none;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
}

.nav-icons a:hover, .logo:hover, footer a:hover {
    opacity: 0.8;
}

.logo {
    max-width: 200px;
    margin: 10px 0px;
}

header, footer {
    background-color: #072D51;
    color: white;
}

header a, footer a {
    color: white;
}

footer a {
    padding: 10px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
}

footer h3 {
    font-size: 1.5em;
}

.customer-service, .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

nav {
    display:none;
    position: absolute;
    top: 77px;
    background:#072D51;
    left: 0px;
    padding: 20px;
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    margin: 0px 30px 0px 30px;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    font-size:0.9em ;
    position:relative;
}

.nav-icons i {
    font-size: 2em;
}

#hamburger-menu {
    display:none
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.nav-icons span {
    display:none
}

.search-icon {
    border: 2px solid #ffff;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    max-width: 500px;
    padding: 10px;
    background: transparent;
    color:white
}

.search-bar {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ikon-spacing {
    margin: 0px 25px;
    padding: 5px;
}

.shadow {
    text-shadow: 0px 3px 6px black;
}


/* HOME PAGE */

.new-collection {
    background-image:  url('../images/pexels.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-position-y: center;
    margin: 0px 15px 15px 15px;
}

.home-autumn {
    color: #fff;
    line-height: 1.5;
    max-width: 260px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.home-scroll-2, .home-scroll-1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    display:flex;
    margin: 15px;
    
}

.home-scroll-1 {
    background-image:  url('../images/pexels-jaime.jpg');
    background-position: left bottom;
}

.home-scroll-2 {
    background-image: url('../images/7.jpg');
    background-position: center;
}

.canoeing, .bluechick {
    color: #fff;
    line-height: 1.5;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* Media */

@media (min-width: 600px) {
    .new-collection {
        min-height: 60vh;
    }

    .home-autumn {
        max-width: 720px;
    }

    .search-icon {
        width: 300px
    }

    h1, h2 {
        font-size: 3em;
    }
}

@media (min-width: 850px) {

    .home-scroll {
        display:flex;
        margin: 10px;
    }

    .home-scroll-1, .home-scroll-2 {
        width: 1000px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .customer-service, .about {
        align-items: flex-start;
    }

    .new-collection {
        min-height: 70vh;
        margin: 0px;
    }

    .search-nav {
        display:flex;
        flex-direction: column
    }

    .hamburger_menu {
        display:none
    }
        
    header label {
        display:none;
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        left: -475px;
        padding: 0px;
    }

    .nav-icons {
        align-items: center;
        margin: 50px 25px;
        padding: 20px 45px;
    }

    nav li {
        margin: 0px 50px;
    }

    nav ul {
        flex-direction: row;
        font-size: larger;

    }

    .search-icon {
        width: 400px;
    }

    .logo {
        padding:20px 50px
    }

    .header_content {
        flex-direction: row;
    }

    .ikon-spacing {
        margin: 0px
    }

}

@media (min-width: 1185px) {

    .home-scroll-1, .home-scroll-2 {
        min-height: 70vh;
    }

    .home-scroll-2 {
        background-position: left bottom;
    }

    .new-collection {
        min-height: 90vh;
    }
    
    .nav-icons span {
        display: inline-block;
        padding: 0px 10px;
    }

    .search-icon {
        width: 500px;
    }
    
    nav {
        left: -550px;
    }

    nav li {
        margin: 0px 60px;
    }

    .logo {
        margin: 10px 10px;
    }

    h1, h2 {
        font-size: 3.5em;
    }
}

@media (min-width: 1585px) {

    .new-collection {
        min-height: 100vh;
    }

    .search-bar {
        margin: 0px 200px;
    }

    nav {
        left: -750px;
    }

    h1, h2 {
        font-size:4em ;
    }
}